body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

input {
    font-size: 18px;
}
.form__container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__text {
    padding: 6px;
    width: 65%;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 6px 14px;
    font-size: 18px;
    color: white;
    background-color: #43c579;
    border-bottom: 5px solid #35b46a;
    box-shadow: 3px 3px 10px 0 rgba(65, 65, 65, 0.849);
    margin-left: 18px;
    transition: 300ms;
}

.btn:hover {
    background-color: #3ab36c;
    border-bottom: 5px solid #289b58;
    transform: scale(1.1);
}

.disabled {
    background-color: #c54343;
    border-bottom: 5px solid #b43535;
}

.disabled:hover {
    background-color: #b33a3a;
    border-bottom: 5px solid #9b2828;
}